<?xml version="1.0" ?>
<launch>

  <!-- Name of  filter_config_file:=/path/to/config.yaml to change options. -->
  <arg name="filter_config_file" 
    default="$(find process_table_scene)/config/tabletop_k2.yaml" />

  <node name="filter_tabletop_scene" 
        pkg="process_table_scene" 
        type="filter_tabletop_scene" 
        output="screen" 
        respawn="false"> 
  <rosparam file="$(arg filter_config_file)" command="load" />        
  </node>

</launch>
